%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="#{ @video.large_cover }")
      .video_info.col-sm-3
        %header
          %h3
            = @video.title
          %span Rating:
          = @video.rating
        %p
          = @video.description
        .actions
          %a.btn.btn-primary(target="_blank" href="#{ @video.video_url }") Watch Now

          -#%a.btn.btn-default(href="") + My Queue
          = link_to " + My Queue", queue_items_path(video_id: @video.id), method: :post, class: 'btn btn-default' unless current_user.queued_video?(@video)

%section.reviews.container
  .row
    = bootstrap_form_for [@video, Review.new], layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-6' do |f|
      %fieldset
        .form-group
          %label Rate this video
          = f.select :rating, options_for_video_reviews, label: 'Rate This Video', control_col: 'col-sm-2'
          = f.text_area :content, rows: 6, control_col: 'col-sm-7', label: 'Write Review'
        %fieldset.actions.control-group.col-sm-offset-2
          = f.submit
          = link_to 'Cancel', @video
      %header
        %h3 User Reviews (#{ @reviews.count })
      %ul
        - @reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{ review.rating } / 5
                %p
                  by
                  = link_to  review.user.full_name, review.user
              .col-sm-8
                %p= review.content
